<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Machine Learning - Kardashian or Trump?</title>

	<script src="js/brain.js"></script>
	<script src="js/training-data.js"></script>

	<script src="js/main.js"></script>

	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="app-container">

		<div class="background"></div>

		<h1 class="title">Machine Learning - Kardashian or Trump?</h1>
		<h3 class="instructions">In the input field below, enter a Tweet from either a Kardashian or Trump.</h3>
		<h5 class="instructions">click the submit button to see what the machine thinks...</h5>

		<div class="inline-container">
			<label>Tweet:&nbsp;</label>
			<input type="text" class="tweet">
		</div>
		<button type="submit" class="tweet">submit</button>
		<output class="results"></output>

	</div>

</body>

<script src="./js/ui-logic.js"></script>

</html>